<form method='POST' action='/data'>
<label for='todo'>TO-DO Item</label>
<input type='text' name='todo' placeholder='Write item here please'/>
<button class='submit-button' type='submit'>SUBMIT!</button>
</form>