<footer>
Remember that for a successful life, progression needs to exist if not, you become stagnant and what do people that do nothing and are dead have in common?
Lack of progress! Sorry for being a bit dark but some progression is better than no progression at all!
</footer>
</body>
</html>
