<div class="form-wrapper center">
  <form action="/data" method="POST" class="center">
    <input type="text" name="item" class="form-input" />
    <button class="submit-button">Submit</button>
  </form>
</div>
