<!DOCTYPE html>
<html>
  <head>
    <title>MY TO-DO LIST</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1>MY TO-DO LIST</h1>
    </header>
  </body>
</html>
