<p>
  Thanks for ordering,
  <span><%- confirmOrder.givenName %> <%- confirmOrder.surname %></span>
</p>

<p>
  Your order of
  <span><%- confirmOrder.order %></span> will be sent to your home in
  <span><%- confirmOrder.province %></span>, Canada. Thank you for
  participating!
</p>
