<form method="POST" action="/form-data">
  <label for="item">TODO Item</label>
  <input type="text" name="item" placeholder="Item Description" class="imput" />
  <button type="submit" class="button">Submit</button>
</form>
