<div class="inbox">
  <form method="POST" action="/data" id="listElement">
    <input type="text" name="item" placeholder="Item Description" required />
    <button type="submit">Submit</button>
    <button type="button">Done</button>
    <button type="button">Delete</button>
  </form>
  <%console.log(itemsList)%>
  <% itemsList.forEach(item => {%> 
  <div class="item">
    <input type="checkbox" />
    <p><%=item%></p>
  </div>
  <%})%>
</div>
<script src="js/todoScripts.js"></script>
