<div class="inbox">
  <form method="POST" action="/data" id="listElement">
    <input type="text" name="item" placeholder="Item Description" />
    <button type="submit">Submit</button>
  </form>
  <% itemsList.forEach(item => {%>
  <div class="item">
    <input type="checkbox" />
    <p><%=item%></p>
  </div>
  <%})%>
</div>
