<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/order-confirmed.css" />
  </head>
  <body>
    <div class="main">
      <h1>
        Order Confirmed! Thank you <%= data.givenName %> for Visiting!
      </h1>
      <h2>
        We will be shipping to <%= data.address %> within 2-5 business days.
      </h2>
    </div>
  </body>
</html>
