.todo-body {
  margin: 0 auto;
  width: 50vw;
  margin-top: 50px;
}

.todo-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px 0px;
  border-bottom: 1px solid black;
}
