<form method="POST" action="/task">
    <label for="task">Enter a task:</label>
    <input name="task" type="text">
    <button type="submit">Submit</button>
</form>

<ol>
    <% taskList.forEach(task => { %>
        <li><%=task %></li>
    <% }); %>
</ol>