<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>

<body>
    <h2>Order Confirmation</h2>
    <h3>Thanks for ordering, <%- givenName %>!</h3>

    <p>Your order of <%- order %> will be sent to your home in <%- province %>, Canada.
        Thank you for participating!</p>
</body>

</html>