
<h2>Order Confirmed!</h3>
<h3>Thanks for ordering, <b><%- orderData.givenName %></b>!</h3>

<p>Your order of <b><%- orderData.order %> </b>will be sent to your home in <b><%- orderData.province %>, Canada</b>. Thank you for participating!</p>

<%- include('../partials/footer') %>
