<%- include('../partials/header') %> <%- include('../partials/inputForm') %>
<h2>TODO Lisse Babay</h2>
<ul>
  Todo List <% items.forEach(item =>{ %>
  <li><%- item %></li>

  <% })%>
</ul>

<%- include('../partials/footer') %>
